{% extends 'videoconferencing/base.html' %}
{% load static %}
{% block content %}

<div class="forget">
    <div class="forget__background">
        <h1 class="heading-4">Reset Your Password</h1>

        <div id="email-container">
            <div class="msg"></div>
            <form id="send-email">
                <input class="forget-input" id="from_email" type="email" placeholder="Input valid email address"
                    autofocus required>
                <button class="forget-btn" type="submit">Send Code</button>
            </form>
        </div>

        <div class="code-container">
            <div class="msg"></div>
            <form id="verify-code">
                <input class="forget-input" type="text" id="code" placeholder="Input code to verify" required>
                <button class="forget-btn" type="submit">Verify Code</button>
            </form>
        </div>

        <div class="password-container">
            <div class="msg"></div>
            <form id="reset-password">
                <input type="password" id="password"  class="forget-input" placeholder="password" required autofocus><br>
                <label for="confirmation" id="correct-password-label"><i class="fa-solid fa-check"></i> Password
                    matched</label>
                <label for="confirmation" id="incorrect-password-label"><i class="fa-solid fa-xmark"></i> Password must
                    match.</label>
                <input type="password" name="confirmation"  class="forget-input" id="conformpassword" oninput="check_password()"
                    placeholder="Confirm Password" required /> <br>
                <button type="submit" class="forget-btn">Save Password</button>
            </form>
        </div>

        <a class="forget-anchor" href="{% url 'home' %}">Back to home</a>
    </div>
</div>

<!--js for forgot password -->
<script type="text/javascript" src="{% static 'videoconferencing/js/forgotpassword.js' %}"></script>
{% endblock content %}