.channel {
    position: relative;
    width: 100vw;
    height: 100vh;

    &-container {
        padding: 1rem;
        margin: 1rem;
        border-radius: 2rem;
        background-color: rgba($color-grey-light-2, 0.5);
        filter: brightness(0.95);
        width: 40vw;
        box-shadow: 0 1rem 3rem rgba(#000, 0.5);

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;

        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: $bp-small) {
            width: 70vw;
            margin: 0 auto;
        }
    }

    &-input {
        font-size: 2rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem 2.2rem;
        border-radius: 1rem;
        background-color: rgba(#fff, .9);
        border: none;
        border-bottom: 1px solid transparent;
        display: block;
        transition: all 0.2s;
        box-shadow: 0 1rem 2rem rgba(black, 0.1);
        margin-bottom: 2rem;

        &:focus {
            outline: none;
            box-shadow: 0 2rem 4rem rgba(black, 0.1);
            border-bottom: .3rem solid green;
        }

        &:focus:invalid {
            border-bottom: .3rem solid rgb(255, 102, 0);
        }
    }

    &-logo {
        height: 4rem;
        width: 4rem;
    }

    @media only screen and (max-width: $bp-medium) {
        &-input {
            font-size: 1rem;
            padding: 0.5rem 1.2rem;
            border: 1px solid transparent;
            margin-bottom: 1rem;
        }

        &-btn{
            padding: 0.5rem 2rem;
            font-size: 1.5rem;
        }

        &-logo {
            height: 3rem;
            width: 3rem;
        }
    }
}




@media only screen and (max-width: $bp-medium) {
    .heading-2 {
        font-size: 2rem;
    }
}


.navigation-bar{
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    font-size: 2rem;
    padding: 1rem 4rem;
    background-color: rgba($color-grey-light-2, 0.3);
}

.navigation-link{
    text-decoration: none;
    color: $color-secondary;
    transition: all 0.3s;

    &:hover{
        color: #55606bea;
        transform: translateY(-.1rem);
    }
}