.footer{
    background-color: $color-grey-light-2;
    // grid-column: 1/-1;
    font-size: 2rem;
    padding: 5rem;
    padding-top: 10rem;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    align-content: center;

    @media only screen and (max-width:$bp-medium){
        padding: 3rem;
        padding-top: 7rem;
        gap: 1rem;
    }

    &__content{
        display: grid;
        grid-template-columns: repeat(3, minmax(max-content, 1fr));
        gap: 10rem;
        column-gap: 20rem;

        @media only screen and (max-width:$bp-small){
            grid-template-columns: max-content max-content;
            grid-template-rows: repeat(2, max-content);
            gap: 5rem;
            column-gap: 10rem;
        }
    }

    &__features--list,
    &__support--list,
    &__legal--list{
        padding-top: 1rem;
        list-style: none;

        a{
            text-decoration: none;
            color: $color-secondary;
            transition: all .5s;

           &:hover,
           &:active{
            color:$color-grey-light-1;
           }
        }   
    }

    &__copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    svg {
        height:3rem;
        width: 3rem;
        padding-left: .5rem;
        padding-right: .5rem;
        fill: $color-secondary;
        transition: all 0.5s;

        &:hover{
            fill: $color-grey-light-1;
        }
    }
}