.forget {

    &-input {
        font-size: 2rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem 2.2rem;
        border-radius: 1rem;
        background-color: rgba(#fff, .9);
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        transition: all 0.2s;
        box-shadow: 0 1rem 2rem rgba(black, 0.1);
        margin-bottom: 2rem;

        &:focus {
            outline: none;
            box-shadow: 0 2rem 4rem rgba(black, 0.1);
            border-bottom: 1rem solid green;
        }

        &:focus:invalid {
            border-bottom: 1rem solid rgb(255, 102, 0);
        }
    }

    &__background {
        background-image: linear-gradient(to bottom, rgba(#000, 0.2), rgba(#000, 1));
        opacity: 0.8;
        width: 100vw;
        height: 100vh;
        object-fit: cover;

        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        padding-top: 8%;
    }

    &-anchor{
        text-decoration: none;
        color: #000;
        font-size: 2rem;
        font-weight: 500;
        transition: all 0.5s;

        &:hover{
            color: $color-grey-light-1;
        }
    }
}

.msg{
    color: #fff;
    font-size: 1.5rem;
}