.login{
    position: relative;

    &__container{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 25%;
        height: 20%;

        @media only screen and (max-width:$bp-largest){
            width: 35%;
            height: 30%;
        }

        @media only screen and (max-width:$bp-large-s){
            width: 40%;
            height: 35%;
        }

        @media only screen and (max-width:$bp-small){
           width: 45%;
           height: 40%;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        padding-bottom: 3rem;
    }

    &__input{

        &:not(:last-child) {
            font-size: 2rem;
            font-family: inherit;
            color: inherit;
            padding:1rem 2.2rem;
            border-radius: 1rem;
            background-color: rgba(#fff, .9);
            border: none;
            border-bottom: 3px solid transparent;
            display: block;
            transition: all 0.2s;
            box-shadow: 0 1rem 2rem rgba(black, 0.1);

            &:focus{
                outline: none;
                box-shadow: 0 2rem 4rem rgba(black, 0.1);
                border-bottom: 1rem solid green;
            }

            &:focus:invalid{
                border-bottom: 1rem solid rgb(255, 102, 0);
            }
        }
        

        @media only screen and (max-width:$bp-largest){
            font-size: 1.6rem;
            padding: 1rem 2rem;
        }

        @media only screen and (max-width:$bp-large-s){
            font-size: 1.3rem;
            padding: 1rem 1.5rem;
        }

        @media only screen and (max-width:$bp-small){
            font-size: 1rem;
            padding: 1rem 2rem;
        }

        // &--btn:hover{
        //     background-color: rgba(#fff, .5);
        // }

    }

    &__background {
        background-image:linear-gradient(to bottom, rgba(#000, 0.2), rgba(#000, 1));
        opacity: 0.8;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

.back_btn__container{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 3rem;

    @media only screen and (max-width:$bp-medium){
        flex-direction: column;
        gap: 1rem;
    }
}

.back_btn{
    font-size: 2rem;
    font-weight: 500;
    color: $color-secondary;
    transition: all 0.5s;

    &:hover{
        color: $color-grey-light-1;
    }
}