.videocal {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: [right-start]1fr[right-end middle-start] 98vw [middle-end left-start] 1fr [left-end];
    grid-template-rows: [name-start]5vh[name-end remote-start] 60vh [remote-end local-start] 35vh [local-end];

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: [name-start]5vh[name-end remote-start] 45vh [remote-end local-start] 50vh [local-end];
        row-gap: 2rem;
    }

    &-channel {
        grid-column: middle-start / middle-end;
        grid-row: name-start / remote-start;
        margin: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: row;
            margin: 0;
            justify-content: center;
            gap: 3rem;
        }

        &_name {
            color: #000;
            z-index: 10;
            position: relative;
            font-size: 1.5rem;
            background-color: rgba(#fff, 0.2);
            padding: 0.1rem 0.4rem;
            border-radius: 0.5rem;
            box-shadow: 0 1rem 3rem rgba(#000, 0.5);
            margin: 1rem;
        }

        &_logo {
            filter: brightness(1.1);
            margin-bottom: 2rem;
        }
    }

    &-local {
        grid-column: middle-start / middle-end;
        grid-row: local-start / local-end;
        position: relative;
        padding-left: 2rem;
        display: flex;
        align-items: center;
        gap: 0;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            row-gap: 4rem;
        }


        &_video {
            width: 50%;
            border-radius: 2rem;

            @media only screen and (max-width: $bp) {
                width: 55%;
            }

            @media only screen and (max-width: $bp-largest) {
                width: 60%;
            }

            @media only screen and (max-width: $bp-large-s) {
                width: 70%;
            }

            @media only screen and (max-width: $bp-medium) {
                width: 50%;
            }

        }

        &_username {
            color: #fff;
            font-size: 1.5rem;
            margin-left: 2rem;
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            background-color: rgba(#fff, 0.2);
            padding: 0.1rem 0.4rem;
            border-radius: 0.5rem;
        }
    }

    &-remote {
        grid-column: right-start / left-end;
        grid-row: name-start / local-end;

        @media only screen and (max-width: $bp-medium) {
            grid-column: middle-start / middle-end;
            grid-row: remote-start / remote-end;
        }

        &_video {
            height: 100vh;
            width: 100vw;
            object-fit: cover;

            @media only screen and (max-width: $bp-large-s) {
                height: 70vh;
                width: 100vw;
            }

            @media only screen and (max-width: $bp-medium) {
                height: 45vh;
                width: 100vw;
            }
        }

        &_gif {
            display: none;
            height: 22vh;
            width: 15vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 1rem 1rem rgba(#000, 0.2);

            @media only screen and (max-width: $bp-small) {
                height: 22vh;
                width: 28vw;
            }
        }
    }

    &-controls {
        display: flex;
        column-gap: 5rem;
        padding: 2rem;
        background-color: rgba($color: black, $alpha: 0.2);
        border-radius: 2rem;
        box-shadow: 0 1rem 3rem rgba(#000, 0.5);
        opacity: 0;
        transition: all 0.6s;

        &:hover {
            opacity: 1;
            transform: translateY(1rem);
        }

        @media only screen and (max-width: $bp-medium) {
            opacity: 1;
            padding: 1.5rem;
            column-gap: 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            opacity: 1;
            padding: 1rem;
            column-gap: 1.5rem;
        }
    }
}

.control-img {
    background: $color-secondary;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 100%;
    box-shadow: 0 1rem 3rem rgba(#000, 0.5);
    transition: all 0.3s;

    &:hover {
        background: rgb(240, 61, 61);
        transform: translateY(-.2rem)
    }
}

#remote-username {
    color: #000;
    font-size: 1.5rem;
    background-color: rgba(#fff, 0.2);
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem rgba(#000, 0.5);
    position: absolute;
    top: 7rem;
    right: 5rem;
    margin: 4rem;

    @media only screen and (max-width: $bp-small) {
        top: 5rem;
    }
}

.popup {
    background-color: #ffffff;
    width: 40%;
    height: 20%;
    padding: 3rem 4rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.8rem;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(#000, 0.5);
    z-index: 10;

    @media only screen and (max-width: $bp-small) {
        width: 90%;
        height: 25%;
    }
}


.popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.popup-controls {
    background: $color-grey-light-1;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(#000, 0.5);
    transition: all 0.3s;

    &:hover {
        background: rgb(240, 61, 61);
        transform: translateY(-.2rem)
    }
}